
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Flow+Circular&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
  --spotify-green: #1db954;
  --footer-height: 38px;
}
body {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  margin: 0px;
  overflow-x: hidden;
  max-height: 100vh;
}

.sidebar {
  flex: 1;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #000000;
  padding: 22px;
  overflow-y: auto;
  position: relative;
}
.sidebar::-webkit-scrollbar {
  display: none;
}



.sidebar .navigation ul li {
  padding: 7px;
}

.sidebar .navigation ul li a {
  display: flex;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  font-size: 19px;
  font-weight: 450;
  line-height: 30px;
  letter-spacing: -0.0525em;
}

.sidebar .install {
  width: 100%;
  margin-top: 450px;
  margin-bottom: 23px;
  left: 0;
  transition: all ease 0.3s;
}

.sidebar .install li {
  list-style-type: none;
  display: flex;
}
.spotyfy {
  display: flex;
  flex-direction: row;
  height: calc(94vh - var(--footer-height)) !important;
  width: 100%;
}
.menu-btn {
  display: none; 
  position: fixed;
  top: 5px;
  left: 12px;
  height: 30px;
  font-size: 22px;
  color: #fff;
  cursor: pointer;
  transition: all 0.1s ease;
  border-radius: 6px;
  background-color: transparent;
  padding-top: 6px;
  padding-inline: 7px;
  border: 1px solid white;
}
.menu-btn i:hover {
  transform: scale(105%);
  margin: 12px;
}
.sidebar .install li a {
  text-decoration: none;
  font-size: 22px;
  font-weight: 450;
  letter-spacing: -0.0527em;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3vh;
}
.sidebar .install li a img {
  margin-top: 9px;
}
.sidebar .install :hover {
  color: #9baaf0;
  background-color: #282828;
  border-radius: 10px;
  transform: scale(110%);
}
.sidebar .logo {
  position: sticky;
  padding: 12px 0px;
  top: 0;
  z-index: 2;
  background-color: #000000;
  cursor: pointer;
}



.sidebar .sidebar-bottom ul :hover,
.sidebar .sidebar-bottom ul :active,
.sidebar .sidebar-bottom ul :focus {
  text-decoration: underline;
  color: #9baaf0;
  background-color: #282828;
  border-radius: 10px;
}
.sidebar .navigation ul li a img {
  font-size: 22px;
  margin-right: 9px;
  width: 28px;
}

.sidebar .navigation .playlist span img {
  border-radius: 1px;
  background: #fff;
  width: 28px;
}


.navbar {
  display: flex;
  justify-content: space-between;
  padding: 18px;
}
.navbar .prev-next-buttons button {
  color: #dbd9d9;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  font-size: 22px;
  border: 0px;
  background-color: #090909;
  margin-right: 10px;
}
.navbar .log {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  border: 0px;
  border-radius: 42px;
  width: 145px;
  height: 38px;
  padding-left: 3px;
  padding-right: 25px;
  transition: all 0.3 ease-in;
}




.playlist-container {
  display: flex;
  flex-direction: column;
  padding: 22px 42px;
  max-height: 78vh;
  overflow-y: scroll;
}
.playlist-container::-webkit-scrollbar {
  display: none;
}

.playlist {
  padding: 12px 12px;
  flex: 1;
}
.playlist h2 {
  color: #fff;
  font-size: 38px;
  font-weight: 710;
  cursor: pointer;
}
.playlist h2:hover {
  color:  #282828;
}
.sidebar .navigation .podcast span img {
  border-radius: 5px;
  background: #004638;
  width: 28px;
}

.sidebar .navigation ul :hover,
.sidebar .navigation ul :active,
.sidebar .navigation ul:focus {
  color: #9baaf0;
  background-color: #282828;
  border-radius: 9px;
}

.sidebar .sidebar-bottom {
  position: absolute;
  padding-top: 33px;
  left: 33px;
}
.sidebar .logo img {
  width: 125px;
  padding: 12px 0px;
}
.navigation {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 12px;
}

.sidebar .navigation ul {
  list-style: none;
  margin-top: 45px;
  width: 100%;
}
.sidebar .sidebar-bottom ul {
  list-style: none;
}

.sidebar .sidebar-bottom ul li {
  padding-bottom: 10px;
}

.sidebar .sidebar-bottom ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 22px;
  font-weight: 450;
  letter-spacing: -0.0525em;
  line-height: 36px;
}

.main-container {
  flex: 4;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  width: 100%;
  background: linear-gradient(
    180deg,
    #222 0%,
    #1f1f1f 11.66%,
    #171717 25.65%,
    #161616 32.96%,
    #151515 35.94%,
    #131313 44.86%,
    #121212 55.26%,
    #121212 75.36%,
    #121212 92.78%,
    rgba(18, 18, 18, 0) 100%);
}

.playlist .list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
  flex-wrap: wrap;
}
.playlist .list .item {
  width: 310px;
  height: 82px;
  flex-shrink: 0;
  background-color: #303030;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease 0.3s;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-top: 32px;
}

.playlist-2 .spotify-head p a {
  color: #b3b3b3;
  font-size: 17px;
  font-weight: 675;
  letter-spacing: 0.68px;
  cursor: pointer;
  text-decoration: none;
}
.playlist-2 .spotify-head :hover {
  transform: scale(105%);
}
.playlist-2 .list-2 {
  display: flex;
  flex-wrap: wrap;
  margin-right: 50px;
}
.playlist-2 .list-2 .row-2 {
  display: flex;
  flex: 1 1 25%;
  justify-content: space-between;
  width: 100%;
  gap: 22px;
  margin-bottom: 30px;
}
.playlist-2 .list-2 .bottom {
  margin-bottom: 10px;
}
.playlist-2 .list-2 .row-2 .item-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.playlist-2 .list-2 .item-2 {
  min-width: 140px;
  width: 250px;
  padding: 18px;
  background-color: #181818;
  border-radius: 6px;
  cursor: pointer;
  transition: all ease 0.4s;
}
.playlist-2 .list-2 .item-2:hover {
  background-color: #252525;
  transform: scale(105%);
}
.playlist-2 .list-2 .item-2 img {
  width: 180px;
  flex-shrink: 0;
  border-radius: 14px;
  margin-bottom: 10px;
}
.playlist-2 .list-2 .item-2 {
  position: relative;
}
.playlist .list .item:hover {
  background-color: #9baaf0;
}
.playlist .list .item:hover h4 {
  color: black;
}
.playlist .list .item img {
  width: 100px;
  border-radius: 8px 0px 0px 0px;
}

.playlist-2 .spotify-head {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 30px;
  font-weight: 675;
  width: 100%;
  transition: all 0.1s ease;
}
.playlist-2 .list-2 .item-2 .play-2 .fa {
  position: absolute;
  right: 5px; 
  bottom: 5px; 
  padding: 18px;
  background-color: #1db954;
  border-radius: 100%;
  opacity: 0;
  transition: all ease 0.4s;
}
.playlist-2 .list-2 .item-2:hover .play-2 .fa {
  opacity: 1;
  transform: scale(0.6); 
}

.playlist .list .item {
  position: relative;
}
.playlist .list .item .play .fa {
  position: absolute;
  right: 12px;
  bottom: 13px;
  padding: 18px;
  background-color: #1db954;
  border-radius: 100%;
  opacity: 0;
  transition: all ease 0.3s;
}
.playlist .list-container .list :hover .play .fa {
  opacity: 1;
  transform: scale(0.5);
}
.playlist .list .item h4 {
  color: #fff;
  font-size: 22px;
  font-weight: 380;
  letter-spacing: -0.4px;
  padding-left: 22px;
}

.playlist-2 {
  padding: 10px 10px;
  flex: 1;
}
.playlist-2 .spotify-head h2 {
  color: #fff;
  font-size: 22px;
  margin-bottom: 38px;
  cursor: pointer;
}

.image-container {
  --size: 3em;
  flex-shrink: 0;
  width: var(--size);
  height: var(--size);
}
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.song-description p {
  margin: 0em;
}
.title,
.artist {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.title:hover,
.artist:hover {
  text-decoration: underline;
  color: var(--primary-color);
  cursor: pointer;
}
.image-container:hover {
  box-shadow: 0 0 5px 3px rgba(240, 240, 235, 0.7);
  cursor: pointer;
  transform: scale(110%);
}
.icons:hover {
  box-shadow: 0 0 5px 3px rgba(240, 240, 235, 0.7);
  cursor: pointer;
}
.artist {
  color: var(--secondary-color);
}
.icons {
  display: flex;
  gap: 1em;
}
.progress-controller {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0.3em;
  color: var(--secondary-color);
  cursor: pointer;
  padding-bottom: 5px;
}
.control-buttons {
  display: flex;
  align-items: center;
  gap: 2em;
  margin-top: 8px;
}
.progress-bar:hover .progress::after {
  content: "";
  position: absolute;
  --size: 1em;
  width: var(--size);
  height: var(--size);
  right: 0;
  border-radius: 50%;
  background-color: var(--primary-color);
  transform: translate(50%, calc(2px - 50%));
}
.list-2 .item-2 h4 {
  color: #fff;
  font-size: 21px;
  font-weight: 500;
  letter-spacing: -0.42px;
  margin: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
}

.playlist-2 .list-2 .item-2 p {
  color: #b3b3b3;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.18px;
  text-align: left;
}

.playlist-container .playlist,
.playlist-container .playlist-2 {
  margin-bottom: 30px; 
}




.song-infos {
  display: flex;
  align-items: center;
  gap: 1em;
  transition: all 0.1 ease;
}
.expand-btn {
  display: none;
}
.expanded-content {
  position: absolute;
  right: var(--padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 1em;
}
.volume-bar {
  display: flex;
  align-items: center;
  gap: 0.7em;
}
.control-buttons i:hover {
  box-shadow: 0 0 3px 2px rgba(172, 172, 169, 0.7);
  cursor: pointer;
}
.play-pause {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--spotify-green);
  color: #fff;
  border-radius: 50%;
  padding: 10px;
  position: relative;
  margin-top: 8px;
}

.play-pause:hover {
  transform: scale(1.1);
  color: #111;
  background-color: var(--primary-color);
}
.progress-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.song-bar {
  position: absolute;
  left: var(--padding);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  width: 25%;
}

.progress-bar {
  height: 4px;
  border-radius: 10px;
  width: 30%;
  background-color: #ccc4;
}
.progress {
  position: relative;
  height: 100%;
  width: 35%;
  border-radius: 10px;
  background-color: var(--secondary-color);
}
.progress-bar:hover .progress {
  background-color: var(--green-color);
}

.carbon img {
  margin-bottom: 5px;
  padding: 5px;
}

.expanded-item img:hover {
  box-shadow: 0 0 3px 3px rgba(131, 131, 128, 0.7);
  cursor: pointer;
}
.music-player {
  --primary-color: #ddd;
  --secondary-color: #999;
  --green-color: #2d5;
  --padding: 1em;
  background-color: #181818;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 22px; 
  left: 0; 
  width: 100%;
  color: var(--primary-color);
}
i {
  color: var(--secondary-color);
}
i:hover {
  color: var(--primary-color);
}
.volume-bar .progress-bar {
  width: 6em;
}
.progress-bar:hover {
  box-shadow: 0 0 3px 3px rgba(131, 131, 128, 0.7);
  cursor: pointer;
}
.volume-bar .progress-bar:hover .progress::after {
  --size: 0.8em;
}
.vector img {
  bottom: 22px;
  position: fixed;
  right: 212px;
}


.link-playlist a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  transition: all 0.1 ease-in-out;
}
.footer .link-playlist a:hover {
  transform: scale(103%);
  margin: 10px;
  box-shadow: #0c0c0c;
}
.footer {
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #1ed760;
  position: fixed;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
  height: 3vh;
}

.final-footer {
  display: flex;
  align-items: center;
}
.final-footer h5 {
  margin-right: 100px;
  color: #000;
  font-size: 10px;
  font-weight: 675;
  line-height: normal;
}

.final-footer img {
  margin-right: 10px; 
}
.link-playlist {
  margin-left: 600px;
}


@media (min-width: 768px) and (max-width: 1199px) {
  .sidebar {
    display: none;
    flex: 2;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    height: 93vh;
  }
  .menu-btn {
    display: block;
  }
  
  .playlist-2 .spotify-head p a {
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .playlist-2 .list-2 {
    display: flex;
    flex-wrap: wrap; 
    padding: 30px 25px;
    max-height: 80vh;
  }
 
  .navbar {
    width: 100%;
    padding: 8px;
    margin-left: 50px;
  }

  .list-2 .item-2 h4 {
    font-size: 17px;
    font-weight: 500;
  }

  .playlist-2 .list-2 .item-2 p {
    font-size: 12px;
    font-weight: 500;
  }
  .song-bar {
    gap: 1.5rem;
    width: 20%;
  }
  .song-infos {
    gap: 0.5em;
  }
  .image-container {
    --size: 2em;
    flex-shrink: 0;
    width: var(--size);
    height: var(--size);
  }
  .title,
  .artist {
    font-size: 13px;
    font-weight: 100;
  }
.music-player{
  height: auto;
}
  .navbar .log {
    font-size: 18px;
    font-weight: 900;
    width: 180px;
    height: 45px;
    padding-left: 3px;
    padding-right: 22px;
    margin-right: 90px;
  }
 

  .playlist-2 .list-2 .item-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1; 
    flex-basis: 0; 
    max-width: calc(80% - 10px);
    height: 100%;
  }
  .row-2 {
    flex-direction: column;
  }
  .playlist-2 .list-2 .item-2 img {
    flex-shrink: 0;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 100%;
  }
  .playlist-2 .list-2 .bottom {
    margin-bottom: 0px;
  }


  .progress-controller {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    color: var(--secondary-color);
    cursor: pointer;
    padding-bottom: 10px;
    margin-left: 38px;
  }
  .progress-controller .play-pause {
    padding-bottom: 18px;
    padding-left: 18px;
  }
  .control-buttons {
    display: flex;
    align-items: center;
    gap: 2em;
    margin-top: 4px;
  }
  .sidebar.show {
    display: block;
  }
  .sidebar .install {
    margin-top: 700px;
    margin-bottom:38px;
    left: 0;
  }
  .main-container {
    flex: 4;
    box-sizing: border-box;
    overflow: hidden;
    
    height:100vh;
  }
  .sidebar .logo {
    width: 80%;
  }

  .playlist-2 {
    flex: 1;
  }
  .playlist-container {
    padding: 22px 38px;
    max-height: 90vh;
  }
  .playlist-2 .spotify-head {
    display: inline-flex;
  }
  .playlist-2 .spotify-head h2 {
    font-size: 30px;
    font-weight: 675;
  }
  .control-buttons i {
    width: 18px;
    height: 10px;
  }
  .progress-container {
    width: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }
  .expand-btn {
    display: block;
    position: absolute;
    right: var(--padding);
    background: none;
    border: none;
    color: var(--secondary-color);
    cursor: pointer;
    font-size: 24px;
  }

  .expand-btn:hover {
    color: var(--primary-color);
  }
  .expanded-content {
    display: none;
    position: absolute;
    right: var(--padding);
    background-color: #181818;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    z-index: 1;
    width: 125px; 
    bottom: 38px;
  }
  .expanded-content.show {
    display: flex;
    flex-direction: column; 
    align-items: flex-end; 
  }
  .expanded-item {
    margin-top: 10px; 
  }
  .final-footer h5 {
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;

  }
  .link-playlist {
    margin-left: 10px;
    white-space: nowrap;
  }
  .link-playlist a {
    font-size: 18px;
    font-weight: 500;
  }
  .vector {
    display: none;
  }
}


@media screen and (max-width: 767px) {
  .sidebar {
    display: none;
    flex: 2;
    padding: 10px;
    height: 90vh;
    width: 100%;

  

  .sidebar .install li a {
    font-size: 18px;
    font-weight: 200;
    gap: 1vh;
  }
}
.sidebar .logo {
  width: 80%;
}
.menu-btn {
  display: block;
}
.sidebar.show {
  display: block;
}
.navigation {
  margin-top: 22px;
}
.sidebar .navigation ul li a {
  font-size: 18px;
  font-weight: 200;
  line-height: 18px;
  letter-spacing: -0.0525em;
}
  .main-container {
    flex: 3;
    box-sizing: border-box;
    overflow: hidden;
    background-color: linear-gradient(
      180deg,
      #222 0%,
      #1f1f1f 11.64%,
      #171717 25.66%,
      #161616 32.94%,
      #151515 35.98%,
      #131313 44.89%,
      #121212 55.22%,
      #121212 75.34%,
      #121212 80%,
      rgba(18, 18, 18, 0) 85%
    );
    height: 93vh;
  }
  .navbar {
    width: 100%;
    white-space: nowrap;
    padding: 8px;
    margin-left: 38px;
  }
  .navbar .prev-next-buttons button {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    font-size: 13px;
    border: 0px;
    margin-right: 8px;
  }
  .sidebar .sidebar-bottom {
    padding-top: 22px;
    left: 18px;
  }
  .sidebar .sidebar-bottom ul li a {
    font-size: 18px;
    font-weight: 200;
    letter-spacing: -0.0525em;
    line-height: 25px;
  }
  .sidebar .install {
    margin-left: 0px;
    padding-left: 3px;
    margin-top: 500px;
    margin-bottom: 60px;
  }

  .playlist {
    flex-direction: column;
  }
  .playlist .list {
    padding-top: 30px;
  }
  .playlist .list .item {
    width: 250px;
    height: 60px;
    flex-shrink: 0;
    transition: all ease 0.4s;
    margin-top: 25px;
  }
  .playlist h2 {
    font-size: 22px;
    font-weight: 675;
  }

  .playlist-2 .spotify-head {
    display: inline-flex;
    width: 115%;
  }


  .list-2 .item-2 h4 {
    font-size: 17px;
    font-weight: 500;
  }

  .playlist-2 .list-2 .item-2 p {
    font-size: 12px;
    font-weight: 500;
  }
  .music-player {
    margin-top: 0px;
    height: auto;
    width: 100%;
  }
  .song-bar {
    gap: 1rem;
    width: 12%;
  }
  .song-infos {
    gap: 0.1em;
  }
  .image-container {
    --size: 1.5em;
    flex-shrink: 0;
    width: var(--size);
    height: var(--size);
  }
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .song-description p {
    margin: 0em;
  }
  .title,
  .artist {
    font-size: 10px;
    font-weight: 100;
  }
  .icons {
    gap: 0.1em;
  }
  .icons img {
    width: 18px;
  }
  .playlist-2 .spotify-head h2 {
    text-align: left;
    margin-right: 30px;
  }
  .playlist-2 .spotify-head p a {
    text-align: right;
    white-space: nowrap;
    margin-right: 10px;
  }
  .navbar .log {
    font-size: 13px;
    font-weight: 675;
    border: 0px;
    border-radius: 38px;
    cursor: pointer;
    width: 110px;
    height: 38px;
    padding-left: 3px;
    padding-right: 22px;
    margin-right: 70px;
  }
  .playlist .list .item h4 {
    font-size: 18px;
    font-weight: 390;
    letter-spacing: -0.4px;
    padding-left: 18px;
  }
  .playlist .list .item img {
    width: 60px;
    border-radius: 4px 0px 0px 0px;
  }
  .playlist .list .item .play .fa {
    right: 5px;
    bottom: 5px;
  }
  .row-2 {
    flex-direction: column;
  }
  .playlist-2 {
    flex: 1;
  }

  
  .expanded-content.show {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
  }
  .expanded-item {
    margin-top: 10px;
  }
  .vector {
    display: none;
  }
  .play-pause {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding-left: 5px;
    padding-right: 9px;
    padding-top: 5px;
    padding-bottom: 13px;
    margin-top: 5px;
    width: 18px;
  }
  .progress-container {
    width: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3em;
  }
  .footer {
    height: auto;
  }

  .final-footer h5 {
    font-size: 12px;
    font-weight: 300;
    white-space: nowrap;
    margin-left: 70px;
  }

  .final-footer img {
    position: absolute;
    width: 18px;
    margin-left: 50px;
  }
  .link-playlist {
    margin-left: 10px;
    white-space: nowrap;
  }
  .link-playlist a {
    font-size: 10px;
    font-weight: 200;
  }
  .playlist-2 .list-2 .item-2 {
    width: 200px;
    padding: 18px;
    background-color: #181818;
    border-radius: 6px;
    transition: all ease 0.4s;
  }
  .playlist-2 .list-2 .item-2 img {
    width: 180px;
    flex-shrink: 0;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .progress-controller {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0.2em;
    color: var(--secondary-color);
    cursor: pointer;
    padding-bottom: 5px;
    margin-left: 38px;
  }
  .control-buttons {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-top: 4px;
  }
  .control-buttons i {
    width: 7px;
    height: 7px;
  }

  .progress-bar {
    width: 17%;
  }
  .expand-btn {
    display: block;
    position: absolute;
    right: var(--padding);
    background: none;
    border: none;
    color: var(--secondary-color);
    cursor: pointer;
    font-size: 24px;
  }
  .expand-btn:hover {
    color: var(--primary-color);
  }
  .expanded-content {
    display: none; 
    position: absolute;
    right: var(--padding);
    background-color: #181818;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    z-index: 1;
    width: 150px; 
    bottom: 38px;
  }
}
